/**
* @file
* CSS file.
*/
#ajax-title-div span.base_path,
#ajax-title-div span.type {
  display: none;
}
#ajax-title-div .ajax-title-container {
  background: pink;
  border: solid 1px #666;
  max-height: 120px;
  overflow: auto;
  padding: 10px;
  width: 50%;
  z-index: 100;
}
#ajax-title-div .ajax-title-container.top {
  bottom: 24px;
  position: absolute;
}
#ajax-title-div .ajax-title-container.bottom {
  position: absolute;
  top: 45px;
}
#ajax-title-div {
  position: relative;
}
.ajax-title-div-close {
  cursor: pointer;
  float: right;
}
